<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
    <title>Log in</title>
</head>
<body>
    <div class="container">
        <form class="form" method="post">
            <h1>Log in</h1>
            {% csrf_token %}
            {{form.as_table}}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="message">
                                <span class="message-error">{{ message }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <div class="wrapper">
                <button type="submit" class="form-butn">Log in</button>
                <a class="form-signUp" href="/signUp">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>