<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="{% static "css/profile.css" %}">
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <span>Username : {{ username }}</span>
                <span>Email : {{ email }}</span>
                <span>Phone number : {{ phoneNumber }}</span>
                <span>Привязать соц. сети и мессенджеры</span>
                <div class="socials">
                    <a href="">
                        <img src="" alt="instagram">
                    </a>
                    <a href="">
                        <img src="" alt="telegram">
                    </a>
                    <a href="">
                        <img src="" alt="whats app">
                    </a>
                    <a href="">
                        <img src="" alt="vk">
                    </a>
                </div>
        
                <a class="logout" href="{% url 'logout' %}">logout</a>
            </div>
        </div>
    </body>
</html>