.item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.item_active {
  background-color: var(--color-secondary);
  /* border-left: 1px solid var(--color-main); */
}

/* .item_tg::after {
  content: "";
  background-image: url("@/src/assets/icon-inst.svg");
} */

.image {
  height: 100%;
}

.image img {
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 0 0 10px;
}

.name {
  margin: 0 0 5px;
}

.message {
  margin: 0;
}