.message {
  display: flex;
  max-width: 70%;

  &_left {
    align-self: flex-start;

    .wrapper {
      align-items: baseline;
      margin: 0 0 0 10px;
      text-align: left;
    }
  }

  &_right {
    flex-direction: row-reverse;
    align-self: flex-end;

    .wrapper {
      align-items: end;
      margin: 0 10px 0 0;
      text-align: right;
    }

    .stiker, .userImg {
      justify-content: right;
    }
  }

  &:not(:last-child) {
    margin: 0 0 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.nickname {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
}

.date {
  margin: 0 0 0 5px;
  color: grey;
  font-size: 14px;
}

.image img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0;
}


.userImg {
  display: flex;

  img {
    display: block;
    max-width: 70%;
  }
}

.stiker {
  display: flex;
}

.stiker img {
  display: block;
  max-width: 30%;
}

.empty {
  color: gray;
}

.document {
  &_wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    border: 2px solid white;
    padding: 7px 5px;
    border-radius: 10px;
  }

  &_icon img {
    display: block;
    width: 40px;
    height: 40px;
  }

  &_name {
    margin: 0 0 0 5px;
  }
}