:root {
  --color-main: #3c3c42;
  --color-secondary: #2a2a2e;
  --color-btn: #7947ad;
  --color-white: #fff;
  --font-family: "Roboto";
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-family);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-main);
  width: 100%;
}